@media  screen and (max-width: 615px) {
    .main .title, .main .live-farm{
        grid-column: 2/6;
        display: grid;
        grid-template-columns: 1fr !important;
    
        grid-gap: 20px;
    }
    .accordion{
        background-color: red;
    }
}
@media  screen and (max-width: 1000px) {
    

  /* body */
.body:nth-child(2){
    background-color: var(--black);
    display: grid;
    grid-template-columns: 0 6fr;
    overflow-y: scroll;
}

    .main .title, .main .live-farm{
        grid-column: 2/6;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        grid-gap: 20px;
    }

    .body-content .content-body .hero-section{
        /* background-color: var(--heroBg); */
        background-color: var(--Bg2);
        /* display: grid;
         grid-template-columns: 1fr  ;  */
         display: flex !important;
         flex-direction: column !important;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
        height: auto;
    
        /* margin: 10px;    */
    }

    .body-content .content-body .hero-section>*:nth-child(1){
        
        margin-top: 60px;
    }
    .body-content .content-body .hero-section>*{
        /* border: 1px solid red; */
        width: 70vw;
        /* overflow-y: scroll; */
    }
    .body-content .content-body .hero-section .content{
        grid-column: 1/4;
    }
    .body-content .content-body .hero-section .content h1{
        
        font-weight: normal;
        font-size: 1.3rem !important;
    }
    .body-content .content-body .hero-section .content h3{
        /* font-family: 'Poppins', sans-serif; */
        /* font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Condensed', sans-serif; */
        font-weight: 50;
        line-height: 20px;
        margin-top: 20px;
        font-size: 0.8rem !important;
    }
    .body-content .content-body .hero-section .image{
        position: relative;
        /* display: none; */
        /* grid-column: 1/7; */
    }
    .hero-section .image img:nth-child(1){  
        position: absolute;
        left: 120px;
        z-index: 0;
        top: 120px;
        right: 30px;
        width: 140px;
    }
    .hero-section .image img:nth-child(2){  
        position: absolute;
        left: 120px;
        top: 200px;
        right: 30px;
        width: 90px;
        z-index: 10000000000;
    }
    .hero-section .image img:nth-child(3){  
        /* position: absolute;
        left: 150px;
        top: 150px;
        right: 30px; */
        margin-left: 20px;
        width: 150px;
        z-index: 1000000000;
    }
    .hero-section .buttons {
        margin-top: 20px;
        color: var(--black3);
    }
    .hero-section .buttons i:nth-child(2){
    margin-left: 10px;
    }
    
    .hero-section .ratings{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        /* border: 1px solid red; */
        display: grid;
        margin-top: 20px;
    }
    .hero-section .ratings >*{
        background-color:var(--black2);
        padding:  5px;
        text-align: center;
    }
    .hero-section .ratings small {
        font-size: 0.7rem;
        /* background-color: red; */
        color: var(--black3);
    }



    /* filter section */
    .filter-buttons{
        display: flex !important;
        flex-direction: column !important;
    }
    .filter-buttons >* {
        width: 90%;
    }
    .btn-filter{
        display: none;
    }
    .change-view{
        display: none !important;
    }

    /* earn reward */
.earnReward{
    background-color: var(--Bg2);
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
}
.earnReward>*{
    margin: 5px;
    /* border: 1px solid red; */
}
.earnReward .banner{
    grid-column: 2/4;
    border-radius: 10px;
    min-height: 120px;
    background-image:linear-gradient(to bottom,  transparent, rgba(0, 0, 0,50%)), url(https://tokensfarm.com/assets/images/faq-bg.png);
}
}









@media screen and (max-width: 1085px) {
    
.body-content .content-body .hero-section{
    /* background-color: var(--heroBg); */
    background-color: var(--Bg2);
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    height: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 450px;
    gap: 50px;

    /* margin: 10px; */
}
.body-content .content-body .hero-section>*{
    /* border: 1px solid red; */
    margin-top: 30px;
    overflow-y: scroll;
}
.body-content .content-body .hero-section .content{
    grid-column: 2/4;
}
.body-content .content-body .hero-section .content h1{
    
    font-weight: normal;
    font-size: 1.9rem;
}
.body-content .content-body .hero-section .content h3{
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif; */
    font-weight: 50;
    line-height: 20px;
    margin-top: 20px;
    font-size: 0.90rem;
}
.body-content .content-body .hero-section .image{
    position: relative;
    grid-column: 4/7;
}
.hero-section .image img:nth-child(1){  
    position: absolute;
    left: 120px;
    z-index: 0;
    top: 120px;
    right: 30px;
    width: 140px;
}
.hero-section .image img:nth-child(2){  
    position: absolute;
    left: 120px;
    top: 200px;
    right: 30px;
    width: 90px;
    z-index: 10000000000;
}
.hero-section .image img:nth-child(3){  
    /* position: absolute;
    left: 150px;
    top: 150px;
    right: 30px; */
    margin-left: 20px;
    width: 150px;
    z-index: 1000000000;
}
.hero-section .buttons {
    margin-top: 20px;
    color: var(--black3);
}
.hero-section .buttons i:nth-child(2){
margin-left: 10px;
}

.hero-section .ratings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    /* border: 1px solid red; */
    display: grid;
    margin-top: 20px;
}
.hero-section .ratings >*{
    background-color:var(--black2);
    padding:  5px;
    text-align: center;
}
.hero-section .ratings small {
    font-size: 0.7rem;
    /* background-color: red; */
    color: var(--black3);
}

}











@media screen and (max-width: 1085px) {

}